body  {
    margin: 0; 
    font-family: 'Kanit', sans-serif;
    color: rgb(198, 201, 198);
    background-color: rgb(87, 78, 78);
    font-size: large ;
}

nav { 
    background-color: rgb(133, 181, 219);
    padding: 1px;
    color: black;
    display: flex; 
    justify-content: flex-end;
    padding-right: 20px; 
    
}

nav a { 

    text-decoration: none;
    color: maroon;
    
}

nav a:hover { 
    color: royalblue;
}

footer { 
    background-color: rgb(198, 201, 198);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

footer a { 
    text-decoration: none;
    color: maroon;
}

footer a:hover {
    color: royalblue;
}

.nameSection { 
    background-color: rgb(87, 78, 78);
    color: rgb(198, 201, 198);
    padding: 1px;
    margin: 0px;
    text-align: center;    
    font-family: 'Roboto Mono', monospace;
    position: top;
}

hr { 
    border-color: rgb(133, 181, 219);
    border-width: 50px;
    
}

.picAndDescrip { 
    background-color: bisque;
    color: rgb(198, 201, 198);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    background-color: rgb(87, 78, 78);
    
}

.aboutSection { 
    text-align: center ;
    background-color: rgb(87, 78, 78);
}
ul { 
    padding-left: 0;
}

ul li { 
    list-style-position: inside;
}
a { 
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;
}

a:hover { 
    color: royalblue;
}

@keyframes { 


} 



.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    background-color: rgb(180, 42, 42);
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    justify-content: center;
    border-radius: 50px;
   
  }
  
  
  
  .card:hover {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
    animation: cardAnimation 1s;
  }
  
li { 
    display: grid;
    
}
  .container {
    padding: 2px 16px;
    
  }

  .three-col { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-bottom: 100px;
  }

  form textarea {

    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    
  }
  .one-col { 
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-family: 'Kanit', sans-serif;
  }

  @keyframes cardAnimation { 

    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }


img { 
    
    margin-top: 10px;
    border-radius: 50px;
    border: 5px solid;
    border-color: rgb(133, 181, 219);
    width: 250px;
}
